- if role == :participant
  - content_for :javascript do
    initialize_reply_form('#{I18n.locale}');
  -listing = Listing.find(@listing.id)
  -lenderFirstName = @current_user.given_name
  -lenderLastName = @current_user.family_name
  -start = Date.today.to_date.to_s
  -start.split("-")
  -year = start[0]+ start[1]+start[2]+start[3]
  -month = start[5]+start[6]
  -day = start[8]+start[9]
  -case month.to_i
  -when 1
    - m = "January"
  -when 2
    - m = "February"
  -when 3
    - m = "March"
  -when 4
    - m = "April"
  -when 5
    - m = "May"
  -when 6
    - m = "June"
  -when 7
    -m ="July"
  -when 8
    -m = "August"
  -when 9
    -m = "September"
  -when 10
    -m = "October"
  -when 11
    -m = "November"
  -when 12
    -m = "December"
  -startDate = day+", "+m+", "+year
  -borrowerFirstName = messages.first[:sender][:first_name]
  -borrowerLastName = messages.first[:sender][:last_name]
  -price = listing[:price_cents]/100
  -dueDate = listing[:duedate].to_date.to_s
  -dueDate.split("-")
  -year = dueDate[0]+ dueDate[1]+dueDate[2]+dueDate[3]
  -month = dueDate[5]+dueDate[6]
  -day = dueDate[8]+dueDate[9]
  -case month.to_i
  -when 1
    - m = "January"
  -when 2
    - m = "February"
  -when 3
    - m = "March"
  -when 4
    - m = "April"
  -when 5
    - m = "May"
  -when 6
    - m = "June"
  -when 7
    -m ="July"
  -when 8
    -m = "August"
  -when 9
    -m = "September"
  -when 10
    -m = "October"
  -when 11
    -m = "November"
  -when 12
    -m = "December"
  -dueDate = day+", "+m+", "+year
  -interestRate = listing[:interest]
  -totalPrice = number_with_precision((((listing[:price_cents].to_i)*(1+((listing[:interest].to_i)/100.00)))/100.00).to_d, precision:2)
  #reply_form.message-avatar-padding.message-reply-form
  -if messages.count == 1 && @current_user.id.to_s.downcase  !=  messages.first[:sender][:id].to_s.downcase && messages.first[:content] =="I accept the loan conditions"
    = form_for message_form, :url => message_form_action do |a|
      = a.label :content, t("conversations.show.write_a_reply")
      = a.text_area :content, :class => "reply_form_text_area", :value=>"On #{startDate}, I, #{lenderFirstName} #{lenderLastName} will lend #{borrowerFirstName} #{borrowerLastName} a sum of $#{price} in the form of (cash, check, traveler’s check, or money order), which is to be repaid in full by #{dueDate}. The interest rate is #{interestRate}% and as a result, the amount due on #{dueDate} is $#{totalPrice}. ", :readonly=> true
      = a.hidden_field :conversation_id
      = a.button t("conversations.show.send_reply"), :onClick=>"history.go(0)"


  -if messages.count == 2 && @current_user.id.to_s.downcase  ==  messages.first[:sender][:id].to_s.downcase && messages.first[:content] !="I cannot accept these loan conditions"
    = form_for message_form, :url => message_form_action do |a|
      = a.label :content, t("conversations.show.write_a_reply")
      = a.text_area :content, :class => "reply_form_text_area", :value=>"	  On #{startDate}, I, #{borrowerFirstName} #{borrowerLastName} agree to borrow money from #{lenderFirstName} #{lenderLastName} a sum of $#{price} in the form of (cash, electronic funds transfer), which is to be repaid in full by #{dueDate}. At the specified interest rate of #{interestRate}% and as a result, the amount due on #{dueDate} is $#{totalPrice}.", :readonly=> true
      = a.hidden_field :conversation_id
      = a.button t("conversations.show.send_reply"), :onClick=>"history.go(0)"
  -if messages.count == 3 && @current_user.id.to_s.downcase  ==  messages.first[:sender][:id].to_s.downcase && messages.first[:content] !="I cannot accept these loan conditions"
    = form_for message_form, :url => message_form_action do |a|
      = a.label :content, t("conversations.show.write_a_reply")
      %strong How do you want to recive the funds?
      %br
      %span{:class=>"block-inline",:style=>"width:100%;font-size:7;"}
        = label_tag("Electronic_Funds_Transfer","Electronic Funds Transfer", {class:"inline"})
        = radio_button_tag(:message, "Electronic Funds Transfer", false, {class: "radio-inline", onclick:"yesnoCheck()"})
      %br
      %span{:class=>"block-inline", :style=>"width:100%;font-size:7;"}
        = label_tag("message_Cash","Cash", {class:"inline"})
        = radio_button_tag(:message, "Cash", false, {class: "radio-inline", onclick:"yesnoCheck()"})
        = a.text_area :content, :class=>"reply_form_text_area", :value=>"Enter Account Name:  Enter Account Number:  Enter BSB: ", :style=>"display:none"
      = a.hidden_field :conversation_id
      = a.button t("conversations.show.send_reply"), :onClick=>"history.go(0)"


%messages

= render :partial => "conversations/message", :collection => messages, as: :message_or_action


:javascript
  function yesnoCheck() {
    if (document.getElementById('message_Electronic_Funds_Transfer').checked) {
        document.getElementById('message_content').style.display = 'inline-block';

    }
    if (document.getElementById('message_cash').checked) {
        document.getElementById('message_content').style.display = 'none';

    }}
