-if @listing_presenter.category_id == 5
  = form.label :title, t(".listing_title") + "*", :class => "input"
  = @current_user.given_name + @current_user.family_name
  = form.text_field(:title, :class => "title_text_field", :maxlength => "60", :value => t(".invest") , :readonly=>true)

-if @listing_presenter.category_id == 3
  = form.label :title, t(".listing_title") + "*", :class => "input"
  = form.text_field(:title, :class => "title_text_field", :maxlength => "60", :value => t(".borrow")  , :readonly=>true)
